td{
	text-align: left;
	padding: 15px;
	font-size: 30px;
	font-family: "Times New Roman";
	border-top: 1px solid #ddd;
	
}
.show_detail_head{
	text-align: center;
	font-size: 30px;
	font-weight: bold;
	color: black;

}